*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
header {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: goldenrod; /* Change to your desired color */
    color: black; /* Text color */
    text-align: center; /* Center the text */
    padding: 30px 0; /* Add some padding */
    margin-bottom: 20px; /* Add a border at the bottom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 99.1vw; /* Full width */
    height: 30vh;
}
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #0094ff; /*Changes the color to blue*/
    font-size: 16px;
}
html, body {
    height: 140%;
}
h1{
    font-size: 7em;
}
h2{
    font-size: 3.5em;
}

h2.center{
    text-align: center;
}
h3{
    font-size: 8em;
}
p {
    font-size: 1.3em;
    margin: 15px 0;
    padding-left: 60px;
    padding-top: 30px;
    color: white;
}
ul.custom-bullets{
    list-style: none;
    padding-left: 0;
}
ul.custom-bullets li{
    list-style-type: none;
    padding-left: 35px;
    font-size: 1.3em;
    position: relative;
    margin-bottom: 10px;
    color: white;
}
    ul.custom-bullets li::before {
        content: "★";
        margin-bottom: 10px;
        font-size: 1.2em;
        position: absolute;
        left: 0;
        color: gold;
        top: 0.2em;
        transform: translateY(-35%);
    }
footer {
    background-color: goldenrod; /* Change to your desired color */
    color: black; /* Text color */
    text-align: center; /* Center the text */
    padding: 20px; /* Add some padding */
    position: relative; /* Position it at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Stick to the bottom */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
ul.custom-bulletss {
    list-style: none;
    padding-left: 0;
    color: black;
}

    ul.custom-bulletss li {
        list-style-type: none;
        padding-left: 35px;
        font-size: 2em;
        position: relative;
        margin-bottom: 10px
    }

        ul.custom-bulletss li::before {
            content: none;
            margin-bottom: 10px;
            font-size: 2em;
            position: absolute;
            left: 0;
            top: 0.2em;
            transform: translateY(-35%);
        }
a{
    color:black;
}
a:hover{
    color:black;
}
a:active{
    color:black;
}
a:visited{
    color:black;
}
